<ion-header class="ion-no-border ">
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">
      <img class="logo" src="/assets/logo.svg">

      <span>Pedro Rhamon</span>

      <ion-button color='light' fill='clear' size='small'>
        <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color='primary'>
  <div class="background">
    <div class="bank-information ion-text-center">
      <img class="qrcode" src="/assets/qrcode.jpg">

      <span>Banco <strong>0001 - Nu Pagamentos S.A.</strong></span>
      <span>Agência <strong>0001</strong></span>
      <span>Conta <strong>0000003-5</strong></span>
    </div>
    <ion-list lines='full'>
      <ion-item *ngFor='let item of items' detail> 
        <ion-icon slot="start" [name]='item.icon'></ion-icon>

        <ion-label>{{item.text}}</ion-label>

      </ion-item>
    </ion-list>

    <ion-button class="logout" color='light' expand='block' fill='outline'>
      <strong>SAIR DA CONTA</strong>
    </ion-button>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color='primary'>
    <ion-slides [options]='slidesOptions'>
      <ion-slide *ngFor='let option of options'>
        <div class="container ion-text-left">
          <ion-icon [name]="option.icon"></ion-icon>

          <span>{{option.text}}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>