<ion-header class="ion-no-border ">
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">
      <img class="logo" src="/assets/logo.svg">

      <span>Pedro Rhamon</span>

      <ion-button color='light' fill='clear' size='small'>
        <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color='primary'>
  <div class="background">
    <div class="bank-information ion-text-center">
      <img class="qrcode" src="/assets/qrcode.jpg">

      <span>Banco <strong>0001 - Nu Pagamentos S.A.</strong></span>
      <span>Agência <strong>0001</strong></span>
      <span>Conta <strong>0000003-5</strong></span>
    </div>
    <ion-list lines='full'>
      <ion-item *ngFor='let item of items' detail>
        <ion-icon slot="start" [name]='item.icon'></ion-icon>

        <ion-label>{{item.text}}</ion-label>

      </ion-item>
    </ion-list>

    <ion-button class="logout" color='light' expand='block' fill='outline'>
      <strong>SAIR DA CONTA</strong>
    </ion-button>
  </div>

  <div class="blocks">
    <ion-card>
      <ion-item class="ion-margin-vertical" lines='none'>
        <ion-icon slot="start" name='card-outline'></ion-icon>
        <ion-label>Cartão de crédito</ion-label>
      </ion-item>

      <ion-card-content class="ion-no-padding">
        <div class="ion-padding ion-margin-vertical cash">
          <span class="blue">Fatura atual</span>
          <span class="blue value">R$ 100,55</span>
          <span>Limite disponível <span class="green">R$ 5000,65</span></span>
        </div>

        <div class="ion-padding-vertical footer">
          <ion-item color='light' lines='none' detail>
            <ion-icon slot="start" name="game-controller-outline"></ion-icon>
            <ion-label class="ion-text-wrap">Compra mais recente no League of Legends *lol no valor de R$ 100,00
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item class="ion-margin-vertical" lines='none'>
        <ion-icon slot="start" name='cash-outline'></ion-icon>
        <ion-label>Conta</ion-label>
        <ion-button color='dark' fill='clear' slot="end">
          <ion-icon slot="ucib-only" name='eye-off-outline'></ion-icon>
        </ion-button>
      </ion-item>

      <ion-card-content class="ion-no-padding">
        <div class="ion-padding ion-margin-vertical cash">
          <span>Saldo Disponível</span>
          <ion-text color='dark'>
            <span class="value">R$ 4000,00</span>
          </ion-text>
        </div>

        <div class="ion-padding-vertical footer">
          <ion-item color='light' lines='none' detail>
            <ion-icon slot="start" name='barcode-outline'></ion-icon>
            <ion-label class="ion-text-wrap">Boleto de R$ 4000,00 pago na sexta</ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color='primary'>
    <ion-slides [options]='slidesOptions'>
      <ion-slide *ngFor='let option of options'>
        <div class="container ion-text-left">
          <ion-icon [name]="option.icon"></ion-icon>

          <span>{{option.text}}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>